@using MarketSystem.Models
@using MarketSystem.Services    
@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.Extensions.DependencyInjection;
@using Microsoft.JSInterop
@inject JsonFileProductService ProductService;
@inject ILogger<ProductAdd> logger;
@inject IJSRuntime JS;

<div class="input-group mb-3" style="width: 50%">
    <input type="text" minlength="3" @bind="@Name" @oninput="@(@e => Name = e.Value.ToString())" class="form-control" id="name" placeholder="Product name" aria-label="Product name" />
</div>

<div class="input-group mb-3" style="width: 15%">
    <input type="number" min="1" @bind="@Quantity" @oninput="@(e => Quantity = Convert.ToInt32(e.Value))" class="form-control" id="quantity" placeholder="Product quantity" aria-label="Product quantity" />
</div>

<div class="input-group mb-3" style="width: 15%">
    <input type="number" min="0" @bind="@Price" @oninput="@(e => Price = Convert.ToDecimal(e.Value))" class="form-control" id="price" placeholder="Price" aria-label="Price" />
</div>

<div class="addButtonDiv">
    <div class="text-center product-succesfull" id="add-text">
        <h5 class="text-muted" style="user-select: none">
            Product has been added successfully.
        </h5>
    </div>
    <div class="text-end addButton">
        <button type="button" class="btn btn-primary btn-lg addButton" @onclick="click" >@*@btnVal*@Add</button>
    </div>
</div>

@code {
    //[Parameter]
    //public string btnVal { get; set; } = "Add";

    //void click()
    //{
    //    btnVal = "asdsadsa";
    //    InvokeAsync(() => StateHasChanged());
    //}

    [Parameter]
    public string Name { get; set; } = "";

    [Parameter]
    public int Quantity { get; set; } = 1;

    [Parameter]
    public decimal Price { get; set; } = 0;

    void click() {
        //Console.WriteLine($"Name: {Name}, quantity: {Quantity}, Price: {Price}.");
        Product product = new Product(Name, Quantity, Price);
        ProductService.AddProduct(product);
        logger.LogInformation($"Name: {Name}, quantity: {Quantity}, Price: {Price}.");
        Name = "";
        Quantity = 1;
        Price = 0;
        JS.InvokeVoidAsync("updateAddAnimationState");
    }
    
}
